body {
    font-family: sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin: 5% auto;
}
form {
    align-self: center;
}
input {
    display: block;
}
input:invalid {
    outline-color: red;
    border-color: red;
}
.validationMessage {
    min-height: 18px;
    color: red;
    margin-top: 8px;
    margin-bottom: 8px;
}
